extends ../layouts/default
block content
  body:.wrapper
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()" target="_blank")
                    i.fa.fa-lg.fa-print
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                  a(href="/contactform")
                    i.fa.fa-lg.fa-envelope
            .col-md-9#content-data
              h2 #{data.differentiators[0].heading}
              .row
                .col-md-4
                  if data.differentiators.length
                        img(id="image",src=data.differentiators[0]._.image.limit(640,640))
                .col-md-8
                  p
                    | #{data.differentiators[0].text}
               .row
                .col-md-4
                  if data.differentiators.length
                        img(id="image",src=data.differentiators[0]._.image1.limit(640,640))
                .col-md-8
                  h4
                    | #{data.differentiators[0].subText}
                  p
                    | #{data.differentiators[0].shortText}

               .row
                .col-md-4
                  if data.differentiators.length
                        img(id="image",src=data.differentiators[0]._.image2.limit(640,640))
                .col-md-8
                  h4
                    | #{data.differentiators[0].shortStringText}
                  P
                   | #{data.differentiators[0].longStringText}
               .row
                .col-md-4
                  if data.differentiators.length
                        img(id="image",src=data.differentiators[0]._.image3.limit(640,640))
                .col-md-8
                  h4
                    | #{data.differentiators[0].textLong}
                  p
                    | #{data.differentiators[0].textShort}
                    
                .col-md-8
                  h4
                    | #{data.differentiators[0].textString}
                  p
                    | #{data.differentiators[0].textShortString}
                  div
                    .someClass                    
            include ../views/companyinfolistmenu
      .container-fluid
        .row
          footer
            include ../views/footer
            