extends /layouts/default

block body-contents
	h1 Hi *|first_name|*,
	p.text-larger An enquiry was just submitted to #{brand}:
	if Contactlist.name || Contactlist.email
		p.text-larger From 
			if Contactlist.name
				| <strong>#{Contactlist.name}</strong>
			if Contactlist.name && Contactlist.email
				|  (
			if Contactlist.email
				| <a href="mailto:#{Contactlist.email}">#{Contactlist.email}</a>
			if Contactlist.name && Contactlist.email
				| )
	if Contactlist.phone
		p.text-larger Phone: #{Contactlist.phone}
	if Contactlist.messagetext
		.text-larger !{Contactlist.messagetext.html}
	p.text-muted Sent #{Contactlist._.createdAt}
	p &nbsp;
	+button({ url: '/keystone/Contactform/' + Contactlist.id, label: 'Open Keystone' })
